# Dataset 1: Disease Prediction Using Machine Learning

- Classes: 41

- Parameters: 132

https://www.kaggle.com/datasets/kaushil268/disease-prediction-using-machine-learning?select=Training.csv

Download dataset from the link above, and format it into the following folder structure:

    Dataset_Tests

        Dataset_1.ipynb

        data

            Training.csv
            
            Testing.csv

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sb
import matplotlib.pyplot as plt
from warnings import filterwarnings
filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [3]:
train = pd.read_csv("data/Training.csv")
test = pd.read_csv("data/Testing.csv")
data_train = train
data_test = test

In [4]:
train[:5]

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis,Unnamed: 133
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
4,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN

In [5]:
data_train = data_train.drop(["Unnamed: 133"],axis=1)

In [6]:
data_train.prognosis.value_counts()

Fungal infection                           120
Hepatitis C                                120
Hepatitis E                                120
Alcoholic hepatitis                        120
Tuberculosis                               120
Common Cold                                120
Pneumonia                                  120
Dimorphic hemmorhoids(piles)               120
Heart attack                               120
Varicose veins                             120
Hypothyroidism                             120
Hyperthyroidism                            120
Hypoglycemia                               120
Osteoarthristis                            120
Arthritis                                  120
(vertigo) Paroymsal  Positional Vertigo    120
Acne                                       120
Urinary tract infection                    120
Psoriasis                                  120
Hepatitis D                                120
Hepatitis B                                120
Allergy                                    120
hepatitis A                                120
GERD                                       120
Chronic cholestasis                        120
Drug Reaction                              120
Peptic ulcer diseae                        120
AIDS                                       120
Diabetes                                   120
Gastroenteritis                            120
Bronchial Asthma                           120
Hypertension                               120
Migraine                                   120
Cervical spondylosis                       120
Paralysis (brain hemorrhage)               120
Jaundice                                   120
Malaria                                    120
Chicken pox                                120
Dengue                                     120
Typhoid                                    120
Impetigo                                   120
Name: prognosis, dtype: int64

In [8]:
Y = data_train[["prognosis"]]
X = data_train.drop(["prognosis"], axis=1)
Y_pred = data_test.drop(["prognosis"], axis=1)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [10]:
classifier = DecisionTreeClassifier(random_state=42)
model = classifier.fit(X_train, y_train)

In [11]:
test_pred = model.predict(X_test)
print("testing accuracy is:",accuracy_score(y_test,test_pred))

testing accuracy is: 1.0

In [ ]:
model.

In [82]:
#Creating a random row of values to perform model inference on

import random

inferenceRow = X_test.iloc[1:2, ]
inferenceVal = y_test[1:2]
for i in range(132):
  inferenceRow.iloc[0:1, i] = random.randint(0, 1)
# inferenceRow
randomInference = inferenceRow
randomInference

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,pus_filled_pimples,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze
4916,1,1,0,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,1,0,1

In [83]:
inferencePred = model.predict(randomInference)
inferencePred

array(['Diabetes '], dtype=object)